:root {
  /*Yes this is the color pallete*/
  --color1: #1e1e2f;
  --color2: #292940;
  --color3: #3a3a6e;

  --text1: white;

  --font1: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
             "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

.body {
  background-color: var(--color2);
  width: 100vw;
  height: 90vh;
  position: absolute;
  bottom: 0;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: var(--color1);
  width: 98vw;
  height: 8vh;
  margin-top: 1vh;
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 1.7vmin);
  color: white;
  z-index: 10000;
  border-radius: calc(5px + 1vmin);
  box-shadow: 1px 3px 5px black;
}

.headerWrapper {
  z-index: 0;
  background-color: var(--color2);
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
